<html>
  <head>
    <title>Welcome to The Lab</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div id="main">
      <div id="welcome">
        <p>
        Welcome to The Lab. Please, make a call.
        </p>
        <div>
          <a href="tel:{{twilio_number}}">{{nist_formatted_twilio_number}}</a>
        </div>
        <div id="media">
          <img src="/static/dreamy.first.cellphone.jpg"/>
        </div>
      </div>
    </div>
  </body>
</html>
