<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Messages</h1>
     </div>
     <div id="main">
       <p>Messages</p>
       <p>
          <ul>
            {% for message in messages %}
              <p>{{ message.sender_number }}
              <p>{{ message.content }}
            {% endfor %}
          </ul>
       </p>
     </div>
   </div>
 </body>
</html>
